node_modules
out
lib
!packages/eslint-plugin-zowe-explorer/**/lib
logs
results
*.log
npm-shrinkwrap.json
**/*.tsbuildinfo
vscode-extension-for-zowe*.vsix
.vscode/settings.json
.vscode/*.env
.vscode-test
.history
.DS_Store
.idea
temp
*.zip
*.vsix
*.tgz
.tmp
coverage/
v8-compile-cache-0/
dist/
prebuilds/
packages/zowe-explorer/**/.wdio-vscode-service
packages/zowe-explorer/__tests__/**/.zowe
packages/zowe-explorer/__tests__/**/.env
packages/zowe-explorer/__tests__/__integration__/ci/**/.events
packages/zowe-explorer/__tests__/__integration__/ci/**/settings
package.nls.*.json
bundle.l10n.*.json
bundle.l10n.json.template
zedc/target
