node_modules
out
lib
!packages/eslint-plugin-zowe-explorer/**/lib
logs
testProfileData.ts
results
*.log
npm-shrinkwrap.json
vscode-extension-for-zowe*.vsix
.vscode/settings.json
.vscode/*.env
.vscode-test
.history
.DS_Store
.idea
temp
*.zip
*.vsix
*.tgz
.tmp
coverage/
dist/
prebuilds/