node_modules
out
lib
logs
testProfileData.ts
results
debug.log
npm-shrinkwrap.json
vscode-extension-for-zowe*.vsix
.vscode/settings.json
.history
.DS_Store
.idea
temp
*.zip
*.vsix
*.tgz
.tmp
coverage/
