__mocks__/**
__tests__/**
.vscode/**
.vscode-test/**
out/__tests__/**
out/resources/testProfileData.*
out/**/*.map
resources/testProfileData.ts
resources/Favorites.txt
results/**
src/**
.codecov.yml
.gitignore
tsconfig.json
tslint.json
*.vsix
logs/**