name: Changelog

on:
  pull_request:
    branches:
      - main
      - v?-lts
      - next

jobs:
  changelog:
    if: ${{ contains( github.event.pull_request.labels.*.name, 'no-changelog') != true }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check Changelog Updated
        uses: awharn/check_changelog_action@v1
        with:
          header: "## TBD Release"
          yarnWorkspaces: true
