# close-stale-issues (https://github.com/marketplace/actions/close-stale-issues)
name: "Close stale issues"
on:
  schedule:
    - cron: "0 4 * * *"
permissions:
  issues: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          any-of-issue-labels: "needs more info, pending closure"
          close-issue-message: >
            This issue has been automatically closed due to lack of activity. In an
            effort to reduce noise, please do not comment any further.
          days-before-issue-stale: 14
          days-before-issue-close: 90
          exempt-all-assignees: true
          exempt-all-milestones: true
          exempt-issue-labels: "bug, priority-critical, priority-high, Epic, community-upvoted, for-review, keep, security"
          stale-issue-label: "pending closure"
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs.
          start-date: "2021-10-18T00:00:00Z"
