name: Test Workflow

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          
      - name: Download Translations
        run: node scripts/downloadPoeditorL10n.js
        working-directory: packages/zowe-explorer
        env:
          POEDITOR_TOKEN: ${{ secrets.POEDITOR_TOKEN }}
