name: Zowe Explorer FTP CI

on:
  push:
    paths:
      - packages/zowe-explorer-ftp-extension/**
      - packages/zowe-explorer-api/**
  pull_request:
    paths:
      - packages/zowe-explorer-ftp-extension/**
      - packages/zowe-explorer-api/**

jobs:
  zftp-build:
    runs-on: ${{ matrix.os }}

    timeout-minutes: 60

    concurrency:
      group: ${{ matrix.os }}-node-${{ matrix.node-version }}-ze-ftp-ci-${{ github.ref }}
      cancel-in-progress: true

    strategy:
      # Continue to run tests on the other systems if one fails
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # order operating systems from best to worst
        os: [windows-latest, ubuntu-latest, macos-latest]

    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository) && !contains(github.event.head_commit.message, '[ci skip]')

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # install pnpm
      - run: npm install -g pnpm@8

      - run: pnpm config set network-timeout 60000 && pnpm install && pnpm build

      - run: pnpm --filter zowe-explorer-ftp-extension test
        env:
          CI: true
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == '20.x'
        with:
          name: zowe-explorer-ftp-extension-results
          path: packages/zowe-explorer-ftp-extension/results/

      # Run codecov upload for only one run
      # - name: Upload Results to Codecov
      #   if: matrix.os == 'ubuntu-latest' && matrix.node-version == '20.x'
      #   uses: codecov/codecov-action@v3
      #   with:
      #     env_vars: OS,NODE

      - name: Package VSIX
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == '20.x'
        run: pnpm package
        working-directory: packages/zowe-explorer-ftp-extension

      - name: Archive VSIX artifact
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == '20.x'
        uses: actions/upload-artifact@v4
        with:
          name: zowe-explorer-ftp-extension-vsix
          path: dist/*.vsix
